body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "SF Pro display";
    color: red;
}
header {
    background: rgba(88, 3, 3, 0.185);
    top: 0;
    left: 5px;
    border: 2px solid black;
    width: 100%;
}
.header {
    background: rgba(223, 202, 202, 0.185);
    width: 100%;
    margin: 0 auto; 
    height: 10vh;
    position: fixed;
}
.header::after {
    content: "";
    display: table;
    clear: both;
}
.logo {
    color: red;
    float: left;
    border: 2px solid rgb(197, 36, 197);
    padding: 6px;
    margin-top: 8px;
    margin-left: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav {
    float: right;
   
}
.menu a {
    text-decoration: none;
    color: red;
}
.menu {
    margin: 0;
    padding: 2px;
    list-style: none;
    float: left;
    margin-left: 20px;
    text-decoration: none;
    color: rgb(59, 2, 59);
    position: relative;
}
nav a::before {
    content: "";
    display: block;
    height: 2px;
    background-color: rgb(197, 36, 197);
    top: 0;
    width: 0%;
    position: absolute;
    transition: all ease-in-out 0.5s;
}
nav a:hover::before {
    width: 100%;
}
.submenu {
    text-align: center;
    list-style: none;
    margin-left: 0px;
    padding: 3px 6px; 
    position: relative; 
    display: none;
    color: #FF162B;
    cursor: pointer;
}
ul li:hover .submenu {
    display: block;
}
.submenuContainer {
    margin: 0;
    padding: 0;
    width: 80px;
    font-size: 14px;
    background: inherit;

}
.navMenu {
    width: 30vw;
    height:10vh;
}
.notifications {
    width: 15px;
    height: 15px;
    border: 1px solid black;
    background-color: white;
    border-radius: 50%;
    text-align: center;
}
.buttonContainer ul {
    margin-right: 30px;
}
/* styling the side bar */
#sideBar {
    position: fixed;
    left: -300px;
    width: 300px;
    height: 100%;
    background: rgba(94, 85, 85, 0.185);
    transition: all 0.6s linear;
    z-index: 4;
}
#sideBar ul a {
    text-decoration: none;
    color: red;
    margin: 0px;
}
#sideBar ul {
    margin-left: 0px;
}
#sideBar ul li {
    list-style: none;
    font-family: "SF Pro display";
    margin: 0px;
    padding: 20px 15px;
    border-bottom: 1px solid white;
}
.sideBarHeader {
    height: 60px; 
    justify: center;
    background: rgba(94, 85, 85, 0.185);
    

}
.sideBarlogo{
    letter-spacing: 3px;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
    text-align: center;
    background: rgb(224, 194, 194);
   
}
#sideBar .toggleBtn {
    position: absolute;
    left: 310px;
    top: 2px;
    margin-top: 20px;
    margin-left: 10px;
} 
#sideBar .toggleBtn span {
    display: block;
    left: -20%;
    width: 30px;
    height: 3px;
    background: red;
    margin: 3px 0px;
}
#sideBar.active {
    left: 0px;
    z-index: 4;
}
.aboutMaintainer {
    margin-top: 120px;
    color: red;
    text-align: center;
}
.aboutMaintainer div {
    margin-top: 0px;

}
.aboutMaintainer a {
    text-decoration: none;
    color: rgb(197, 36, 197);
    font-weight: 200;
    font-size: 30px;
}
.makingRequests {
    color: red;
    border-bottom: 5px solid purple;
    text-align: center;
}
 img {
    width: 40vw;
    height: 20h; 
}
.aboutMaintainer h2 {
    
    font-weight: 700;
    font-size: 50px;
    font-family: "SF Pro Display";
}
.laptopMgtTips {
    color: red;
    text-align: center;
    border-bottom: 5px solid purple;
}
.laptopMgtTips h4 {
    font-weight: 200;
    font-size: 20px;
    font-family: "SF Pro Display";
}
.fAQS h1 { 
    text-align: center;
    text-transform: uppercase;
}
footer {
    text-align: center;
    height: 5vh;
    color: #FF162B;
    position: fixed;
    width: 100%;
    position: absolute;
    background: rgba(223, 202, 202, 0.185);
}
